# Ignore the .idea directory
.idea/

# Ignore all .log files
*.log

# Ignore security files
id_ed25519
id_ed25519.pub
ssh_output.txt
jetson_oneroot.pem

Object-Detection-Using-YOLOv8/

yolo_example_object_detection/object_detection_and_counting/sample_video
