sudo apt-get install python3-opencv python3-gstreamer1.0


# go to file where it was located and run to check errors
cd /home/oneroot/Desktop/python_code/oneroot_streaming/python_gstreamer
GST_DEBUG=3 python gstreamer_new_server.py


#To get output gststream in local terminal
gst-launch-1.0 rtspsrc location=rtsp://localhost:8554/test ! decodebin ! autovideosink


